apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak-pod
  template:
    metadata:
      labels:
        app: keycloak-pod
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:16.1.1
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            cpu: 100m
            memory: 512Mi
        env:
        - name: PROXY_ADDRESS_FORWARDING
          value: 'true'
        - name: DB_VENDOR
          value: POSTGRES
        - name: DB_USER
          value: keycloak
        - name: DB_DATABASE
          value: keycloak
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: opolo-credentials
              key: keycloak-db
        - name: DB_ADDR
          value: postgresql:5432
        - name: DB_SCHEMA
          value: public
        - name: KEYCLOAK_USER
          value: admin
        - name: KEYCLOAK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: opolo-credentials
              key: keycloak-admin
        - name: JAVA_OPTS_APPEND
          value: -Dkeycloak.profile.feature.token_exchange=enabled
        ports:
        - containerPort: 8080
