apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
data:
  kibana.yml: |
    server.host: "0.0.0.0"
    elasticsearch.hosts: ["http://sift-es:9200"]
    elasticsearch.username: "kibana_system"
    elasticsearch.password: "${ELASTICSEARCH_PASSWORD}"
    xpack.security.enabled: true

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  labels:
    app: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana:7.16.3
        ports:
        - containerPort: 5601
        volumeMounts:
        - name: kibana-config
          mountPath: /usr/share/kibana/config/kibana.yml
          subPath: kibana.yml
        env:
          - name: LOGSPOUT
            value: "ignore"
          - name: ELASTICSEARCH_PASSWORD
            valueFrom:
              secretKeyRef:
                name: opolo-credentials
                key: kibana
        resources:
          requests:
            memory: "3Gi"
            cpu: 100m
          limits:
            memory: "5Gi"
            cpu: 500m
      volumes:
      - name: kibana-config
        configMap:
          name: kibana-config