apiVersion: v1
kind: ServiceAccount
metadata:
  name: siftmanage

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: siftmanage
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["*"]
  verbs: ["create" , "delete" , "get", "watch", "list" ,"patch"]
- apiGroups: ["apps"] # "" indicates the core API group
  resources: ["*"]
  verbs: ["create" , "delete" , "get", "watch", "list","patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: siftmanage
subjects:
  - kind: ServiceAccount
    # Reference to upper's `metadata.name`
    name: siftmanage
roleRef:
  kind: Role
  name: siftmanage
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sift-manage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sift-manage-pod
  template:
    metadata:
      labels:
        app: sift-manage-pod
    spec:
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: TZ
          value: "Asia/Bangkok"
        - name: SIFT_WEBSERVICE_URL
          value: "http://172.18.88.204:31515/v1/api"
        - name: KAFKA_HOST_URL
          value: siftqueue1:9092
        - name: KAFKA_TOPIC
          value: "sift.manage.in"
        - name: IS_KAFKA_CONNECT_AVAILABLE
          value: "true"
        - name: KAFKA_CONNECT_URL
          value: "http://siftconnect1:8083/connectors"
        - name: PERSIST_TYPE
          value: "couchbase"
        - name: PERSIST_ADDRESS
          value: http://sift-persist:8091/pools
        - name: PERSIST_PASSWORD
          value: "xxx"
        - name: MAIN_CLASS
          value: "SiftManageAPI"
        - name: LOG_LEVEL
          value: "debug"
        - name: ROOT_LOG_LEVEL
          value: "info"
        - name: LOAD_CONFIG_BUCKET
          value: "false"
        - name: ENVIRONMENT
          value: "dev"
        - name: CONFIG_PATH
          value: "/opt/knowesis/sift/config/"
        - name: LOG_TYPE
          value: "console"
        - name: OVERWRITE_YML_FILES
          value: "false"
        - name: SIFT_MANGE_PORT
          value: "8042"
        - name: SIFT_INSTALL_PATH
          value: "/opt/knowesis/sift/yml"   
        image: knowesis/siftmanage:7.0.1-Beta
        imagePullPolicy: Always
        name: sift-manage
        ports:
        - containerPort: 8042
          protocol: TCP
      imagePullSecrets:
      - name: regcred
      serviceAccount: siftmanage
      serviceAccountName: siftmanage